* {
  background-color: lightskyblue;
}
.form {
  padding: 12px;
  padding-left: 20px;
}
.form input {
  background-color: white;
  margin-left: 20px;
}
.entry {
  padding-top: 20px;
  padding-left: 20px;
}
#bottom {
  padding-bottom: 34%;
}