* {
  margin: 0;
  padding: 0;
  background-color: darkgoldenrod;
  font-weight: bolder;
}
h1 {
  padding: 8px;
  font-style: italic;
  color: white;
}
nav {
  background-color: darkcyan;
  padding: 16px;
}
a {
  background-color: darkcyan;
}
a:hover {
  color: white;
}
span {
  background-color: darkcyan;
}