h1 {
  padding: 20px;
  margin: 0;
  margin-bottom: 30px;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 1) 30%, rgba(255, 0, 0, 1) 90%);
}
button {
  margin: 20px;
  padding: 16px;
  font-size: 24px;
  background-color: rgb(255, 211, 211);
  color: darkred;
  border: 10px double darkred;
  border-radius: 50px;
  transition-duration: 0.4s;
}
button:hover {
  background-color: rgb(255, 174, 174);
  cursor: pointer;
  transform: scale(92%);
  box-shadow: 0 12px 12px 0 rgba(255, 0, 0, 0.16), 0 17px 50px 0 rgba(255,0,0,0.19);
}
#table {
  padding: 40px;
  padding-bottom: 35%;
  background-color: rgb(255, 240, 240);
}
table {
  border-collapse: collapse;
  text-align: center;
  vertical-align: center;
  width: 60%;
}
table, th, td {
  border: 1px solid black;
}
th, td {
  height: 30px;
}
th {
  background-color: darkred;
  color: white;
}
tr.odd {
  background-color: #FF9999;
}
tr.even {
  background-color: #FFCCCC;
}